{% extends 'blog/base.html' %}

{% block conteudo %}
<h1>Últimas Notícias</h1>

<!-- Botão para ir para o formulário -->
<p style="text-align: right;">
    <a href="{% url 'rascunhos' %}" class="btn" style="background-color: #f39c12; margin-right: 10px;">Ver Rascunhos</a>
    <a href="{% url 'criar_post' %}" class="btn">+ Nova Notícia</a>
</p>


<ul style="list-style-type: none; padding: 0;">
{% for post in posts %}
    <li style="background: #ecf0f1; margin-bottom: 15px; padding: 15px; border-radius: 5px; border-left: 5px solid #3498db;">
        <!-- Título agora é um link clicável -->
        <a href="{% url 'detalhe' post.id %}" style="text-decoration: none; color: #2c3e50;">
            <strong style="font-size: 1.2em;">{{ post.titulo }}</strong>
        </a><br>
        <small style="color: #7f8c8d;">Publicado por {{ post.autor }}</small>
    </li>
{% empty %}
    <li style="text-align: center; color: #7f8c8d; padding: 20px;">Nenhuma notícia publicada ainda.</li>
{% endfor %}
</ul>
{% endblock %}